components/form/xsd/control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:singlec-form="iisis/schemas/2014/projects/singlec/iis/form"
        xmlns:iis-sql="iisis/schemas/2014/iis/sql"
        targetNamespace="iisis/schemas/2014/projects/singlec/iis/form"
        elementFormDefault="qualified">
    <import namespace="iisis/schemas/2014/iis/sql" schemaLocation="../../../../../xsd/2014/iis/sql.xsd"/>
    <simpleType name="class">
        <restriction base="iis-sql:string_255">
            <pattern value="[\w.]*"/>
        </restriction>
    </simpleType>

    <simpleType name="description">
        <restriction base="iis-sql:string_255">
        </restriction>
    </simpleType>

    <!--template - определяет шаблон(имя класса), который нужно подключить для данного компонента-->
    <simpleType name="template">
        <restriction base="iis-sql:string_255">
        </restriction>
    </simpleType>
    
    <attributeGroup name="position">
        <annotation>
            <documentation>linkR,linkL,linkT,linkB - содержит шаблон [class|template|ID] после чего может следовать
                шаблон: .link[R|L|T|B].
            </documentation>
        </annotation>
        <attribute name="left" type="iis-sql:string_25" default="0"/>
        <attribute name="top" type="iis-sql:string_25" default="0"/>
        <attribute name="width" type="iis-sql:string_25" default="0"/>
        <attribute name="height" type="iis-sql:string_25" default="0"/>
        <attribute name="linkR" type="iis-sql:string_255" default=""/>
        <attribute name="linkL" type="iis-sql:string_255" default=""/>
        <attribute name="linkT" type="iis-sql:string_255" default=""/>
        <attribute name="linkB" type="iis-sql:string_255" default=""/>
    </attributeGroup>

    <simpleType name="eventParameterName">
        <union>
            <simpleType>
                <restriction base="singlec-form:description"/>
            </simpleType>
            <simpleType>
                <restriction base="singlec-form:description">
                    <enumeration value="$form"/>
                    <enumeration value="$FS"/>
                    <enumeration value="$CS"/>
                    <enumeration value="$CSParent"/>
                    <enumeration value="$control"/>
                    <enumeration value="$controlValue"/>
                    <enumeration value="$controlValue:ID:"/>
                    <enumeration value="$CS:ID:"/>
                    <enumeration value="$control:ID:"/>
                    <enumeration value="$controlOptions"/>

                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="eventParameter">
        <attribute name="name" type="singlec-form:eventParameterName"/>
        <attribute name="value" type="singlec-form:eventParameterName"/>
    </complexType>
    <complexType name="eventParameterList">
        <sequence>
            <element name="parameter" type="singlec-form:eventParameter" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <simpleType name="eventName">
        <union xml:base="string">
            <simpleType>
                <restriction base="singlec-form:description">
                    <!--TextBox-->
                    <enumeration value="$TextBoxOnChange"/>
                    <enumeration value="$TextBoxStartChoice"/>
                    <enumeration value="$TextBoxStartListChoice"/>
                    <enumeration value="$TextBoxClearing"/>
                    <enumeration value="$TextBoxTuning"/>
                    <enumeration value="$TextBoxOpening"/>
                    <enumeration value="$TextBoxChoiceProcessing"/>
                    <enumeration value="$TextBoxAutoCompleteText"/>
                    <enumeration value="$TextBoxTextEditEnd"/>
                    <enumeration value="@UpdateChoiceListHistory"/>
                    <enumeration value="@TextBoxGetObject"/>
                    <!--Button-->
                    <enumeration value="$ButtonClick"/>
                    <!--CommandBarButton-->
                    <enumeration value="$CommandBarButtonClick"/>
                    <!--CheckBox-->
                    <enumeration value="$CheckBoxOnChange"/>
                    <!--TableBox-->

                    <enumeration value="$TableBoxSelection"/>
                    <enumeration value="$TableBoxOnActivateRow"/>
                    <enumeration value="$TableBoxOnActivateColumn"/>
                    <enumeration value="$TableBoxOnActivateCell"/>
                    <enumeration value="$TableBoxBeforeAddRow"/>
                    <enumeration value="$TableBoxBeforeRowChange"/>
                    <enumeration value="$TableBoxBeforeDeleteRow"/>
                    <enumeration value="$TableBoxAfterDeleteRow"/>
                    <enumeration value="$TableBoxOnStartEdit"/>
                    <enumeration value="$TableBoxBeforeEditEnd"/>
                    <enumeration value="$TableBoxOnRowOutput"/>
                    <enumeration value="$TableBoxOnDataGet"/>
                    <enumeration value="$TableBoxValueChoice"/>
                    <enumeration value="$TableBoxOnCheckChange"/>
                    <enumeration value="$TableBoxOnEditEnd"/>
                    <enumeration value="$TableBoxNewObjectWriteProcessing"/>
                    <enumeration value="$TableBoxChoiceProcessing"/>
                    <enumeration value="@TableBoxGetObjectByCurrentRow"/>
                    <enumeration value="@TableBoxDeleteObjectByCurrentRow"/>
                    <enumeration value="@TableBoxClearObjectList"/>
                    <enumeration value="@TableBoxOpenObjectForm"/>
                    <enumeration value="@TableBoxSaveObject"/>
                    <enumeration value="@TableBoxUpdateRowByObject"/>
                    <enumeration value="@TableBoxGetCurrentColumnName"/>
                    <enumeration value="@TableBoxGetCurrentColumnValue"/>
                    <enumeration value="@TableBoxGetObjectUUIDByCurrentRow"/>
                    <enumeration value="@TableBoxCurrentRowGetColumnValue"/>
                    <enumeration value="@TableBoxGetCurrentRow"/>

                    <!--Panel-->
                    <enumeration value="$PanelOnCurrentPageChange"/>
                    <enumeration value="@PanelGetCurrentPage"/>
                    <enumeration value="@PanelSetCurrentPage"/>

                    <!--SpreadsheetDocumentField-->
                    <enumeration value="$SpreadsheetDocumentFieldSelection"/>
                    <enumeration value="$SpreadsheetDocumentFieldDetailProcessing"/>
                    <enumeration value="$SpreadsheetDocumentFieldOnActivateArea"/>
                    <enumeration value="$SpreadsheetDocumentFieldOnChangeAreaContent"/>

                    <!--objectListOptions-->
                    <enumeration value="@ObjectListOptionsGetFilterListMap"/>
                    <!--form-->
                    <enumeration value="$FormBeforeOpen"/>
                    <enumeration value="$FormOnOpen"/>
                    <enumeration value="$FormOnReopen"/>
                    <enumeration value="$FormRefreshDisplay"/>
                    <enumeration value="$FormBeforeClose"/>
                    <enumeration value="$FormOnClose"/>
                    <enumeration value="$FormChoiceProcessing"/>
                    <enumeration value="$FormObjectActivationProcessing"/>
                    <enumeration value="$FormNewObjectWriteProcessing"/>
                    <enumeration value="$FormNotificationProcessing"/>
                    <enumeration value="$FormExternalEvent"/>
                    <enumeration value="$FormFillCheckProcessing"/>

                    <!--all-->
                    <enumeration value="ExternalEvent"/>

                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="singlec-form:description"/>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="eventClass">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="notUsed"/>
                    <enumeration value="$control:ID:"/>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="iis-sql:string_255"/>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="event">
        <annotation>
            <documentation>
                -Поле class - обработчик события,
                -если не заполнен, то класс берется из контрола,
                -если установлено "notUsed" - событие регистрируется, но не обрабатывается,
                но обрабатываются вложенные события до и после
            </documentation>
        </annotation>
        <sequence>
            <element name="parameterList" type="singlec-form:eventParameterList" minOccurs="0"/>
            <element name="before" type="singlec-form:eventList" minOccurs="0"/>
            <element name="after" type="singlec-form:eventList" minOccurs="0"/>
        </sequence>

        <attribute name="name" type="singlec-form:eventName"/>
        <attribute name="class" type="singlec-form:eventClass"/>
        <attribute name="if" type="iis-sql:string_255"/>
    </complexType>

    <complexType name="eventList">
        <sequence>
            <element name="event" type="singlec-form:event" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="eventGroup">
        <sequence>
            <element name="event" maxOccurs="unbounded">
                <complexType>
                    <sequence>
                        <element name="event" type="singlec-form:event" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                    <attribute name="name" type="singlec-form:eventName"/>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <simpleType name="controlValueType">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="iis-sql:boolean"/>
                    <enumeration value="iis-sql:int_11"/>
                    <enumeration value="iis-sql:decimal_11_2"/>
                    <enumeration value="iis-sql:decimal_11_3"/>
                    <enumeration value="iis-sql:ID"/>
                    <enumeration value="iis-sql:UUID"/>
                    <enumeration value="iis-sql:string_25"/>
                    <enumeration value="iis-sql:string_50"/>
                    <enumeration value="iis-sql:string_255"/>
                    <enumeration value="iis-sql:dateTime"/>
                </restriction>
            </simpleType>
            <!--textBox-->
            <simpleType>
                <restriction base="string">
                    <enumeration value="@Directory"/>
                </restriction>
            </simpleType>
            <!--tableBox-->
            <simpleType>
                <restriction base="string">
                    <enumeration value="$ValueTable"/>
                    <!--@DB: - определяет источник данных и загружает их-->
                    <enumeration value="@DB:"/>
                    <!--@XSD: - определяет структуру данных, но без загрузки этих данных-->
                    <enumeration value="@XSD:"/>
                    <enumeration value="@function:"/>
                </restriction>
            </simpleType>

            <simpleType>
                <restriction base="iis-sql:string_255"/>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="picture">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="$AddListItem"/>
                    <enumeration value="$Attribute"/>
                    <enumeration value="$Back"/>
                    <enumeration value="$CancelSearch"/>
                    <enumeration value="$Catalog"/>
                    <enumeration value="$Change"/>
                    <enumeration value="$CheckAll"/>
                    <enumeration value="$Clear"/>
                    <enumeration value="$Close"/>
                    <enumeration value="$CreateListItem"/>
                    <enumeration value="$DeleteListItem"/>
                    <enumeration value="$CloneListItem"/>
                    <enumeration value="$ChangeListItem"/>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="iis-sql:string_255"/>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="control">
        <attribute name="class" type="singlec-form:class" default=""/>
        <attribute name="description" type="singlec-form:description"/>
        <!--ID используется в привязках к элементам-->
        <attribute name="ID" type="ID"/>
        <attribute name="init" type="iis-sql:boolean" default="0"/>
        <attribute name="template" type="singlec-form:template"/>
        <attribute name="visible" type="iis-sql:boolean" default="1"/>
    </complexType>
    <element name="control" type="singlec-form:control"/>
</schema>
